.body {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#lang_container_fix {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#lang_container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0,0);
  transition: transform 0.65s cubic-bezier(.36,.81,.31,1);
  display: flex;
  flex-direction: column;
}

.language {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.language_text {
  position: absolute;
  width: 1000px;
}

.language_text h1 {
  font-size: 96px;
  display: inline;
  margin-bottom: 4px;
}

.play_button_cont {
  display: inline-block;
  height: 36px;
  margin-left: 35px;
  opacity: .2;
  cursor: pointer;
  transition: opacity .2s cubic-bezier(0,.5,.56,1.01);
  position: relative;
}

.play_button {
  height: 100%;
  position: relative;
  transition: all .2s cubic-bezier(0,.5,.56,1.01);
  transition-delay: .2s;
  top: -50%;
  visibility: hidden;
  opacity: 0;
}

@media (hover: hover) {
  .play_button_cont:hover {
    opacity: 1;
  }
}

.sound {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
  transition: all .2s cubic-bezier(0,.5,.56,1.01);
}

.language_text p {
  font-size: 21px;
  margin-bottom: .8em;
  text-align: justify;
  line-height: 1.2em;
  clear: both;
  position: relative;
  overflow: hidden;
}

.language_text p > span {
  line-height: 1.2em;
  box-sizing: border-box;
  display: block;
  hyphens: auto;
  max-height: 25vh;
  overflow-y: auto;
}

.shadow_top, .shadow_bottom {
  width: 100%;
  height: 20%;
  background: radial-gradient(closest-side, rgba(0,0,0,.35) 0%, rgba(0,0,0,0) 95%);
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms linear;
  transform: translateY(-50%);
}

.shadow_bottom {
  top: auto;
  bottom: 0;
  transform: translateY(50%);
}

.language_text p > span:lang(ja) {
  hyphens: none;
}

.level {
  font-size: 32px;
  position: relative;
  left: .25em;
  clear: both;
}

.region_outline {
  opacity: .2;
  height: 80vh;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  pointer-events: none;
}

.heading_cont {
  display: inline-flex;
  align-items: baseline;
  clear: both;
}

.language:nth-of-type(2n) .heading_cont {
  flex-direction: row-reverse;
  float: right;
}

.language:nth-of-type(2n) .play_button_cont {
  margin-left: 0;
  margin-right: 20px;
}

.language:nth-of-type(2n) .level {
  float: right;
  left: auto;
  right: .25em;
}

.language:nth-of-type(2n) p {
  -moz-text-align-last: right;
  text-align-last: right;
}

#slide_menu {
  position: fixed;
  right: 40px;
  bottom: 50%;
  transform: translate(0,50%);
}

#slide_menu span {
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #000;
  margin-bottom: 15px;
  opacity: .2;
  cursor: pointer;
  transition: all .2s cubic-bezier(0,.5,.56,1.01);
}

#slide_menu span:last-of-type {
  margin-bottom: 0;
}

@media (hover: hover) {
  #slide_menu span:hover {
    opacity: .5;
    background-color: #ff2977;
  }
}

#slide_menu .current_dot:hover {
  opacity: 1;
}

#slide_menu .current_dot {
  background-color: #ff2977;
  opacity: 1;
}

#german .language_text {
  bottom: 25%;
  left: 17%;
}

#german .region_outline {
  left: 68%;
}

#german h1 {
  margin-left: -0.05em;
}

#english .language_text {
  bottom: 43%;
  left: 26%;
}

#english .region_outline {
  left: 28%;
}

#english h1 {
  margin-right: -0.075em;
}

#japanese .language_text {
  bottom: 28%;
  left: 18%;
}

#japanese .region_outline {
  left: 67%;
}

#japanese h1 {
  margin-left: -0.055em;
}

#japanese p {
  font-family: 'Yu Gothic', 'Yu Gothic UI', '游ゴシック', '游ゴシック体', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}

#spanish .language_text {
  bottom: 22%;
  left: 28%;
}

#spanish .region_outline {
  left: 35%;
}

#spanish h1 {
  margin-right: -0.075em;
}

#french .language_text {
  bottom: 22%;
  left: 15%;
}

#french .region_outline {
  left: 65%;
}

#french h1 {
  margin-left: -0.075em;
}

@media only screen and (max-width: 1800px) {
  #german .language_text { left: 14%; }

  #german .region_outline { left: 70%; }

  #english .language_text { left: 28%; }

  #english .region_outline { left: 26%; }

  #japanese .language_text { left: 12%; }

  #japanese .region_outline { left: 69%; }

  #spanish .language_text { left: 26%; }

  #spanish .region_outline { left: 36%; }

  #french .language_text { left: 13%; }

  #french .region_outline { left: 66%; }
}

@media only screen and (max-width: 1600px) {
  #german .language_text { left: 10%; }

  #german .region_outline { left: 70%; }

  #english .language_text { left: 17%; }

  #english .region_outline { left: 26%; }

  #spanish .language_text { left: 20%; }

  #spanish .region_outline { left: 40%; }
}

@media only screen and (max-width: 1400px) {
  .language_text { width: 800px; }

  #german .language_text { left: 14%; }

  #german .region_outline { left: 70%; }

  #english .language_text { left: 28%; }

  #english .region_outline { left: 26%; }

  #japanese .language_text { left: 12%; }

  #japanese .region_outline { left: 69%; }

  #spanish .language_text { left: 26%; }

  #spanish .region_outline { left: 45%; }

  #french .language_text { left: 13%; }

  #french .region_outline { left: 62%; }
}

@media only screen and (max-width: 1300px) {
  #german .language_text { left: 10%; }

  #german .region_outline { left: 65%; }

  #english .language_text { left: 22%; }

  #english .region_outline { left: 30%; }

  #japanese .language_text { left: 12%; }

  #japanese .region_outline { left: 65%; }

  #spanish .language_text { left: 20%; }

  #spanish .region_outline { left: 50%; }

  #french .language_text { left: 11%; }

  #french .region_outline { left: 55%; }
}

@media only screen and (max-width: 1200px) {
  .language_text { width: 600px; }

  #german .language_text { left: 12%; bottom: 18%; }

  #german .region_outline { left: 55%; }

  #english .language_text { left: 32%; bottom: 32%; }

  #english .region_outline { left: 35%; }

  #japanese .language_text { left: 12%; }

  #japanese .region_outline { left: 63%; }

  #spanish .language_text { left: 35%; bottom: 15%; }

  #spanish .region_outline { left: 50%; }

  #french .language_text { left: 11%; bottom: 17%; }

  #french .region_outline { left: 50%; }
}

@media only screen and (min-width: 1201px) and (max-height: 550px) {
  #english .language_text { bottom: 22%; }
}

@media only screen and (max-width: 1100px) {
  #english .language_text { left: 25%; bottom: 31%; }

  #english .region_outline { left: 35%; }

  #spanish .language_text { left: 27%; bottom: 15%; }
}

@media only screen and (max-width: 1000px) {
  .language_text { width: 500px; }

  #german .region_outline, #english .region_outline, #japanese .region_outline { left: 50%; }

  #english .language_text { left: 15%; bottom: 25%;}

  #japanese .language_text { left: 14%; bottom: 25%;}

  #spanish .language_text { left: 16%; bottom: 10%; }

  #french .language_text { left: 13%; }
}

@media only screen and (max-width: 700px) {
  .language {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .region_outline {
    height: 100vh;
    transform: translateX(50%);
  }

  .language:nth-of-type(2n) p {
    -moz-text-align-last: left;
    text-align-last: left;
  }

  .language:nth-of-type(2n) .heading_cont {
    flex-direction: row-reverse;
    float: left;
  }

  .language:nth-of-type(2n) .level {
    float: left;
    left: auto;
    right: 0;
  }

  #german .region_outline, #english .region_outline, #japanese .region_outline {
    top: auto;
    left: auto;
    bottom: -10%;
    right: 0;
  }

  #english .region_outline {
    transform: translateX(35%);
  }

  #japanese .region_outline {
    transform: translateX(5%);
  }

  #spanish .region_outline, #french .region_outline {
    left: 0;
    top: auto;
    bottom: -10%;
    transform: translateX(3%);
  }

  #french .region_outline {
    transform: translateX(-5%);
  }

  .language_text { width: 80vw; }

  #german .language_text, #english .language_text, #japanese .language_text, #spanish .language_text, #french .language_text { position: static; }

  .play_button_cont {
    position: absolute;
    top: 30px;
    left: 35px;
    margin: 0;
  }

  #lang_container {
    flex-direction: row;
    transform: translate(0,0);
  }
  #slide_menu {
    right: 50%;
    bottom: 30px;
    transform: translate(50%,0);
  }
  #slide_menu span {
    display: inline-block;
    margin-bottom: 0;
    width: 10px;
    height: 10px;
    margin-right: 12px;
  }

  .language_text p {
    position: relative;
  }

  .language_text p > span {
    max-height: 50vh;
  }

  .language_text p span {
    font-size: 18px;
  }

  .language_text h1 {
    font-size: 48px;
  }

  .level {
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) and (max-height: 600px) {
  .language_text p {
    margin-bottom: 8px;
  }

  .language_text p span {
    font-size: 14px;
  }

  .language_text h1 {
    font-size: 32px;
  }

  .level {
    font-size: 18px;
  }

  .play_button_cont {
    height: 30px;
  }
}

@media only screen and (max-width: 700px) and (max-height: 450px) {
  .language_text p span {
    font-size: 12px;
  }

  .language_text h1 {
    font-size: 24px;
  }

  .level {
    font-size: 16px;
  }

  .play_button_cont {
    height: 20px;
    top: 20px;
    left: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .language_text p {
    text-align: left;
  }
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  background: #ff2977;
  height: .5em;
  width: calc(100% + .5em);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: .33;
  transition: all .2s cubic-bezier(0,.5,.56,1.01);
}

a.underline:hover::before {
  opacity: .8;
  height: 1.2em;
}

a.underline {
  transition: color .2s cubic-bezier(0,.5,.56,1.01);
}

a.underline:hover {
  color: #fff;
}

.pinkdot {
  position: relative;
}

.pinkdot::after {
  position: absolute;
  content: ".";
  color: #ff2977;
}